.style-img {
    width: 162px;
    height: 170px;
}

.radius{
   border-top-left-radius: 20px !important;
   border-top-right-radius: 20px !important;
   border-bottom-left-radius: 20px !important;
   border-bottom-right-radius: 20px !important;
}