
.style-img {
    width: 162px;
    height: 170px;
}

.radius {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.button-dropdown {
    border: solid 2px #343a40 !important;
    background: #343a40 !important;
    color: white !important;
}

.button-dropdown:hover {
    background: #23272b !important;
}

.label-disabled {
    height: 0px;
    /* left: 160px;
    top: 273px; */
    border-radius: nullpx;
    font-family: Fjalla One;
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 58px;
    text-align: center;
    color: rgba(0, 0, 0, 0.08);
    white-space: nowrap;
}

#text-home {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: justify;
}

.option-accessibility-text {
    font-family: Archivo VF Beta;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: -0.015em;;
}

#inverter {
    transform: rotate(180deg);
    height: 250px;
}

#rectangle {
    width: 77%;
    height: 300px;
    background: yellow;
    position: absolute;
    opacity: 30%;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}


.input-form {
    border: 2px solid LightBlue;
    
}

.button-home {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    border: 2px solid LightBlue;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.button-lugar{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    justify-content: center;
    width: 255px;
    height: 47px;
    background: linear-gradient(180deg, rgba(255, 247, 206, 0.33) 0%, rgba(178, 221, 237, 0.33) 100%);
    border: 2px solid LightBlue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}
.button-parceiro{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    justify-content: center;
    width: 255px;
    height: 47px;
    background: linear-gradient(180deg, rgba(255, 247, 206, 0.33) 0%, rgba(178, 221, 237, 0.33) 100%);
    border: 2px solid LightBlue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}